DATABASE_URL=
OPENROUTER_API_KEY=
MASTRA_HOST=100.76.240.26
MASTRA_PORT=4111

# SoftOne integration
SOFTONE_URL=
SOFTONE_USERNAME=
SOFTONE_PASSWORD=
SOFTONE_APPID=
SOFTONE_COMPANY=
SOFTONE_BRANCH=
SOFTONE_MODULE=0
SOFTONE_REFID=

SOFTONE_SCHEMA_PATH=data/softone-full-schema.json.gz
SOFTONE_RELATIONS_PATH=data/softone-full-relations.json
